header nav .nav {
    display: inline;
    padding-left: 2rem;
}
header h1 {
    text-align: left;
    width: 50%;
}
header h1 + nav {
    text-align: right;
    margin-right: 1rem;
}
header nav form {
    display: inline;
}
p::first-letter {
    padding-left: 1rem;
}
#iletişimForm {
    text-align: center;
    display: inline;
}
#iletişimFormBorder {
    border: 0.2em solid;
    padding-right: 2rem;
    border-style: groove;
}
main article p {
    width: 100%;
    margin: 1px 5px ;
    padding: 10px 20px;
}
main article p:first-of-type {
    background-color: #E4DCCF;
    border: 5px black solid;
    box-sizing: border-box;
    border-radius: 100px 100px / 12px;
}
main article p:nth-of-type(2) {
    background-color: #7D9D9C;
    border: 5px #F0EBE3 dashed;
    box-sizing: border-box;
    border-left-width: 8px;
    border-radius: 100px 100px / 12px;
}
main article p:nth-of-type(3) {
    background-color: #576F72;
    border: 3px dotted black;
    box-sizing: border-box;
    border-radius: 100px 100px / 12px;

}
article > h1 {
    color: #898AA6;
    background-color: #D6EFED;
    width:fit-content;
    padding: 5px 10px;
    margin-left: 40%;
}    
article p:nth-of-type(2) span {
    display: inline-block;
    height: 20px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    border-style: ridge;
    width: fit-content;
}
.checker {
    width: 15rem;
    height: 15rem;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
    border-radius: 7.5rem;
}
.checker:first-of-type div {
    width: 50%;
    height: 50%;
    background-color: #576F72;
    border-top-left-radius: 7em;
}
#buton {
    font-size: 10px ;
    border-radius: 0.5em;
    border-width: 0.05em;
    border-color: red;
}