body {
    font-family: 'Open Sans', sans-serif;
}
h1 , h2{
    text-align: center;
}
/* main axis */
/* justify content */
/* cross axis */
/* align items */
/* align-self */
/* wrap */
/* align content */
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items:flex-end;
    /* align-content: center; */
}
#container div {
    flex-basis: 300px;
    /* min-width: 100px; */
    height: 200px;
}
#container div:nth-of-type(2) {
    align-self: flex-start;
    flex-grow: 1;
    max-width: 500px;
}
#container div:nth-of-type(3) , #container div:nth-of-type(5) {
    flex-shrink: 1.5;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px black solid;
    height: 500px;
    display: flex;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
}
main .sidebar {
    background-color: blue;
    flex: 0.5 0.8 300px;
}
main .maincontent {
    background-color: aqua;
    flex: 1 1 800px;
}
header {
    display: flex;
    justify-content: space-around;
    /* margin: 0 10vw; */
}
header nav:nth-of-type(2) a {
    padding: 0 1vw;
}
header nav:nth-of-type(3) {
    display: none;
}
@media (min-width: 350px) and (max-width: 500px) {
    header {
        font-size: smaller;
    }
}
@media (max-width: 350px) {
    header {
        font-size: smaller;
        justify-content: space-between;
    }
    header nav:nth-of-type(2) {
        display: none;
    }
    header nav:nth-of-type(3) {
        display: contents;
    }
}